body {
  background-color: #292E37;
  font-family: "Courier New";
}

h1 {
  color: #7FFF00;
}

h2 {
  color: #E0FFFF;
  font-size: 125%;
}

#header {
  background-color: black;
  text-align: center;
}
#main {
  width: 80%;
  float: left;
}

#sidebar {
  width: 20%;
  float: right;
  padding-top: 150px;
}
